* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-container {
    position: sticky;
    height: 100vh;
    background-color: aqua;
    width: 100%;
    max-width: 800px;
    top: center;
    left: 0;
    background-color: rgba(143, 10, 232, 0.256);
    width: 100%;
    background: url(images/honeyComb.svg);
    background-repeat: repeat;
    overflow: scroll;
    scrollbar-gutter:unset;
}
/* 
.section-container {
} */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h1 {
    font-size: 4rem;
}

section h2 {
    font-size: 2rem;
}

.first,.second,.third,.fourth {
    text-align: center;
    height: 800px;
}

.second,.fourth {
    background-color: rgba(230, 255, 4, 0.5);
}

.first,.third {
    background-color: rgba(251, 4, 255, 0.5);
}

/**************** MEDIA QUERIES *******************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section h1 {
        font-size: 2rem;
    }
    
    section h2 {
        font-size: 2rem;
    }

    section.row {
        padding: 0 20px;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}